.main{
    margin-top: 7vh;
    display: flex;
    flex-direction: row;

}

.sidepane{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 93vh;
    width: 40vw;
    background-color: #212529;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.chat{
background-color: #e9ecef;
width: 100%;
padding:3rem;
overflow-y: scroll;
height: 100vh;
}

.right-pane{
    display: flex;
    flex-direction: column;
    height:93vh;
}

.sidepane::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidepane {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
.chat::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .chat {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  .floating-button{

height: 6rem;
width: 6rem;
border-radius: 50%;

border: none;
color: white;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-decoration: none;

font-size: 20px;
margin: 4px 2px;
cursor: pointer;
background-color: rgba(0, 0, 0, 0.874);
transform: scale(1);
    transition-property: transform;  
    transition-duration :  400ms;
    transform-style: preserve-3d;
    

  }
  

  .outer-floating-button{
    width: 100%;

    z-index: 5;
    align-items: center;
    display: flex;
    position:fixed;
    bottom: 2rem;
    left: 2rem;
  }

  .floating-button:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition-property: transform , box-shadow;  
    transition-duration :  400ms;
    transform-style: preserve-3d;
  }
  
  